.dashboard-container {
    padding: 60px 80px;
}

.welcome-text {
    margin-bottom: 40px;
    font-size: 26px;
    color: #333;
}

.dashboard-cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.dashboard-card {
    background: white;
    padding: 35px;
    border-radius: 20px;
    width: 280px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    transition: 0.3s ease;
}

.dashboard-card:hover {
    transform: translateY(-5px);
}

.dashboard-card h3 {
    margin-bottom: 10px;
}

.dashboard-card p {
    margin-bottom: 20px;
    color: #777;
}

.btn-orange {
    background: #ff6b00;
    color: white;
    padding: 10px 18px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s;
}

.btn-orange:hover {
    background: #e55d00;
}
