/* Page background */
body {
    margin: 0;
    height: 100vh;
    font-family: "Segoe UI", sans-serif;
    background:
            linear-gradient(
                    rgba(255, 241, 230, 0.9),
                    rgba(255, 241, 230, 0.9)
            ),
            url("../images/food-doodles.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Center card */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Card */
.card {
    width: 380px;
    background: #ffffff;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

/* Heading */
.card h2 {
    margin-bottom: 25px;
    color: #111827;
    text-align: center;
}

/* Inputs */
.card input {
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    font-size: 14px;
}

.card input:focus {
    outline: none;
    border-color: #f97316;
    box-shadow: 0 0 0 3px rgba(249, 115, 22, 0.2);
}

/* Button */
.btn {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    background: #f97316;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    background: #ea580c;
}
