//body
html, body {
    height: 100%;
}

body {
    min-height: 100vh;

    background:
        linear-gradient(
            rgba(255, 241, 230, 0.9),
            rgba(255, 241, 230, 0.9)
        ),
        url("../images/food-doodles.png");

    background-repeat: repeat;
    background-size: auto;

    font-family: "Segoe UI", sans-serif;
    margin: 0;
}
/* ===== NAVBAR ===== */

.navbar {
    height: 64px;
    background-color: #ffffff; /* white navbar */
    display: flex;
    align-items: center;
    padding: 0 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    z-index: 1000;
    position: relative;
}
.logo img {
    max-height: 100px;
    width: auto;
    object-fit: contain;
    display: block;
}

.nav-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 600;
    color: #ff6a00;
    letter-spacing: 0.5px;
    white-space: nowrap;
}
