/* Page background */
.login-page {
    margin: 0;
    height: 100vh;
    font-family: "Segoe UI", sans-serif;
    background:
            linear-gradient(
                    rgba(255, 241, 230, 0.9),
                    rgba(255, 241, 230, 0.9)
            ),
            url("../images/food-doodles.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Card */
.login-card {
    width: 420px;
    background: #fff;
    padding: 40px 32px;
    border-radius: 18px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.08);
    text-align: center;
}

/* Headings */
.title {
    margin-bottom: 6px;
    font-size: 26px;
}

.subtitle {
    font-size: 14px;
    color: #777;
    margin-bottom: 26px;
}

/* Inputs */
.login-card input {
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.login-card input:focus {
    outline: none;
    border-color: #ff6b00;
    box-shadow: 0 0 0 2px rgba(255,107,0,0.15);
}

/* Button */
.primary-btn {
    width: 100%;
    padding: 12px 0;
    background-color: #ff6b00;
    color: white;
}
